.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px 0;
}

/* Заголовки */
.section h2 {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 5px;
}

.section h6 {
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

/* Список обёртка */
.list {
    display: flex;
    flex-wrap: wrap;         /* Чтобы на мобильных карточки переносились */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    justify-content: center;
    align-items: center;     /* Выравниваем по центру */
}

/* Одна карточка */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 400px;            /* Можно скорректировать под нужный вам размер */
    height: 300px;           /* Делаем равной ширине, чтобы была "квадратная" */
    
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Изображение внутри карточки */
.image {
    width: 80%;              
    max-height: 100px;       
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.card p {
    font-size: 18px;
    color: #666;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .list {
        flex-direction: column;
        align-items: stretch; /* чтобы карточки растягивались по ширине родителя */
    }

    .card {
        width: auto;           /* ширину берём «автоматически» (чтобы margin работал корректно) */
        max-width: 400px;      /* но не больше 400px */
        margin: 0 0 20px;   /* отступы по бокам (16px), снизу (20px), сверху (0) */
        height: auto;          /* высота уже по содержимому */
    }
}