:root {
  --primary-color: #3B82F6;
  --primary-dark: #2563EB;
  --primary-light: #60A5FA;
  --text-color: #1F2937;
  --text-light: #6B7280;
  --background: #FFFFFF;
  --background-alt: #F3F4F6;
  --error: #EF4444;
  --success: #10B981;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --background: #ffffff;
  --foreground: #171717;
    
  }
} */

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Глобальный сброс и box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}