:root {
  --background: #000000;
  --foreground: #ededed;
  --primary-color: linear-gradient(135deg, #3B82F6 0%, #1D4ED8 100%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --background: #ffffff;
  --foreground: #171717;
    
  }
} */

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Глобальный сброс и box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}